.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

.text--small {
  font-size: 12px;
}

.text--medium {
  font-size: 16px;
}

.text--large {
  font-size: 24px;
}

.text--black {
  color: #161616;
}

.text--gray {
  color: #909090;
}

.text--white {
  color: white;
}
