.text {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 28px;

  color: #959499;
}

.text--medium {
  font-size: 17px;
  line-height: 24px;
}

.text--large {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
}
