.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 0;
}

.subtitle--black {
  color: #161616;
}

.subtitle--white {
  color: white;
}

.subtitle--small {
  font-size: 20px;
}

.subtitle--medium {
  font-size: 30px;
}

.subtitle--large {
  font-size: 42px;
}
