.subtitle {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 62px;
  text-align: left;
  /* or 117% */

  color: #2d314e;
  margin: 0;
}

@media (max-width: 850px) {
  .subtitle {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 500px) {
  .subtitle {
    font-size: 32px;
  }
}
