.intro {
  height: calc(100vh - 80px);
  display: flex;
  background-color: #fafafa;
}

.intro__container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.intro__container .presentation {
  width: 50%;
  min-width: 380px;
}

@media (max-width: 1100px) {
  .intro__container .presentation {
    min-width: 300px;
  }
}

@media (max-width: 1000px) {
  .intro {
    flex-direction: column-reverse;
  }

  .intro__container {
    height: 50%;
    width: 100%;
  }
}
