.text-input {
  outline: none;
  border: 2px solid #909090;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  width: -webkit-fill-available;
  width: -moz-available;
}

.text-input--danger {
  border-color: #f56262;
}

.text-input--success {
  border-color: #00b7ff;
}

.text-input--textarea.text-input--resize-vertical {
  resize: vertical;
}

.text-input--textarea.text-input--resize-horizontal {
  resize: horizontal;
}

.text-input--textarea.text-input--resize-both {
  resize: both;
}
