.add-article {
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.add-article__container {
  margin: auto;
  max-width: 80%;
}

.add-article__text-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-article__form-container {
  margin-top: 60px;
  margin-bottom: 60px;
}
