@import url("http://fonts.cdnfonts.com/css/sansita-one");

.title {
  font-family: "Sansita One", "Sansita Swashed", cursive;
  font-weight: 500;
  color: white;
  margin: 0;
}

.title--small {
  font-size: 20px;
}

.title--medium {
  font-size: 36px;
}

.title--large {
  font-size: 84px;
}

.title--presentation {
  font-size: 124px;
}
