.title {
  margin: 0;

  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 53px;
  line-height: 62px;
  text-align: left;

  color: #2d314e;
}

@media (max-width: 850px) {
  .title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 35px;
  }
}
