.header {
  height: 80px;
}

.header__navigation {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 800px) {
  .header__navigation .nav-list {
    display: none;
  }
}
