.button.icon-button {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.button--small.icon-button {
  width: 20px;
  height: 20px;
}

.button.button--medium.icon-button {
  width: 30px;
  height: 30px;
}

.button.button--large.icon-button {
  width: 40px;
  height: 40px;
}
