.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid--columns-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--columns-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid--columns-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid--columns-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid--columns-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
