.button {
  outline: none;
  border: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-transform: capitalize;
  color: white;
  border-radius: 89px;
  background: linear-gradient(90deg, #31cf70 4.85%, #2cb9cb 100%);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 26px;
  padding-right: 26px;
}

.button:hover {
  background: linear-gradient(90deg, #84e1a7 4.85%, #81d6db 100%);
}

.button:disabled {
  cursor: default;
  background: linear-gradient(90deg, #31cf70 4.85%, #2cb9cb 100%);
  opacity: 0.5;
}
