.button {
  outline: none;
  border: 0;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.button--primary {
  background-color: #f58282;
}

.button--secondary {
  background-color: #828282;
}

.button--primary:hover {
  background-color: #f56262;
}
