.card__body {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.card__image {
    height: 200px;
}

.card__content-container {
    height: 100px;
    text-overflow: ellipsis;
    text-align: left;
}

.card__author-date-container {
    display: flex;
    justify-content: space-between;
}