.article {
  height: 350px;
}

.article__header {
  height: 45%;
}

.article__body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 55%;
  padding: 25px;
  gap: 4px;
}

.article__image {
  height: 100%;
  width: 100%;
}

.article__author {
  font-size: 10px;
  line-height: 18px;
  /* identical to box height, or 180% */

  letter-spacing: -0.02em;
}

.article__content-container {
  flex-grow: 1;
}

.article__content {
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  letter-spacing: -0.02em;
}

.article:hover .article__title {
  color: #77bda3;
}
