.card {
  height: 350px;
  width: 250px;
}

.card__header {
  height: 45%;
}

.card__body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 55%;
  padding: 25px;
  gap: 4px;
}

.card__image {
  height: 100%;
  width: 100%;
}

.card__author {
  font-size: 10px;
  line-height: 18px;
  /* identical to box height, or 180% */

  letter-spacing: -0.02em;
}

.card__content-container {
  flex-grow: 1;
}

.card__content {
  font-size: 13px;
  line-height: 18px;
  /* or 138% */

  letter-spacing: -0.02em;
}

.card:hover .card__title {
  color: #77bda3;
}
