.articles-form {
  border-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  background-color: white;
  padding: 45px;
  max-width: 700px;
  max-width: 80%;
  margin: auto;
}

.articles-form__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
